<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier ou dossier existe, Apache le sert
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Sinon, tout passe par index.php (Front Controller)
    RewriteRule ^ index.php [QSA,L]
</IfModule>
